server:
  port: 8087
spring:
  datasource:
    url: jdbc:mariadb://127.0.0.1:3307/boot_db?useUnicode=true&charaterEncoding =utf-8&useSSL=false&serverTimezone=UTC
    username: boot
    password: boot
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true